@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color:var(--bg);
    font-family:"poppins";
    color: var(--black);
    scroll-behavior: smooth ;
}